body{
    background-color: blue;
}
.chapa{
    background-color: blueviolet;
}
.mika{
    background-color: chartreuse;
}
.miles{
    background-color: crimson;
}
.bose{
    background-color: darkorange;
}