body{
    background-color: blue;
}
.electokenises{
    background-color: blueviolet;
}
.sonicscream{
    background-color: chartreuse;
}
.teleportation{
    background-color: crimson;
}
.telekenises{
    background-color: darkorange;
}